<app-personal-header></app-personal-header>
<section class="deposits">
  <div class="container">
    <h2>Вклады</h2>
    <div class="products-wrap">
      <div class="product-card" *ngFor="let deposit of depositsInfo">
        <div class="product-card-image">
          <img src="{{deposit.image}}" alt="{{deposit.imageAlt}}">
        </div>
        <div class="product-card-info">
          <h3>{{ deposit.depositName }}</h3>
          <div class="product-card-description">
            <div class="product-card-description-items">
              <div class="product-card-description-item">{{ deposit.depositTextFirst }}</div>
              <div class="product-card-description-item-sub">{{ deposit.depositSubFirst }}</div>
            </div>
            <div class="product-card-description-items">
              <div class="product-card-description-item">{{ deposit.depositTextSecond }}</div>
              <div class="product-card-description-item-sub">{{ deposit.depositSubSecond }}</div>
            </div>
            <div class="product-card-description-items">
              <div class="product-card-description-item">{{ deposit.depositTextThird }}</div>
              <div class="product-card-description-item-sub">{{ deposit.depositSubThird }}</div>
            </div>
          </div>
          <div class="product-card-info-action">
            <a routerLink="{{deposit.link}}" class="product-detail">Подробнее о вкладе</a>
            <button type="button" class="button-fill" (click)="openPopup()">Открыть вклад</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="tariff">
  <div class="container">
    <h2>Тарифы и условия</h2>
    <nav class="tab-panel-button-group">
      <ul>
        <li class="tab" *ngFor="let tab of tabsArray; let i = index" (click)="setTab(i)">
          <a class="tab-link" [ngClass]="activatedTab === i ? 'active' : ''">{{tab}}</a>
        </li>
      </ul>
    </nav>
    <div class="tariff-wrap" *ngIf="activatedTab === 0">
      <h3>Сравнить вклады</h3>
      <table class="tariff-table">
        <thead>
        <tr>
          <td>вклад</td>
          <td>Мудараба</td>
          <td>Манзил</td>
          <td>Вакала</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Срок</td>
          <td>3 - 36 месяцев</td>
          <td>Неограниченно</td>
          <td>12 - 36 месяцев</td>
        </tr>
        <tr>
          <td>Преимущества</td>
          <td>Периодичность выплаты <br>
            прибыли в конце срока
          </td>
          <td>Хиба
            (подарок от банка)
          </td>
          <td>Бесплатное предложение
            дебетовой карты
          </td>
        </tr>
        <tr>
          <td>Минимальная сумма вклада</td>
          <td>От 100 долларов</td>
          <td>Неограниченно</td>
          <td>От 1000 сомони</td>
        </tr>
        <tr>
          <td>Прогназируемая прибыль</td>
          <td>80/20</td>
          <td>Неограниченно</td>
          <td>15%</td>
        </tr>
        <tr>
          <td>Пополнение/расходные операции</td>
          <td>Не допускаются</td>
          <td>Разрешается</td>
          <td>Не допускаются</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<ng-template #depositPopup>
  <div class="deposit-popup">
    <div class="popup-close" (click)="closePopup()">
      <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M6.99486 7.00636C6.60433 7.39689 6.60433 8.03005 6.99486 8.42058L10.58 12.0057L6.99486 15.5909C6.60433 15.9814 6.60433 16.6146 6.99486 17.0051C7.38538 17.3956 8.01855 17.3956 8.40907 17.0051L11.9942 13.4199L15.5794 17.0051C15.9699 17.3956 16.6031 17.3956 16.9936 17.0051C17.3841 16.6146 17.3841 15.9814 16.9936 15.5909L13.4084 12.0057L16.9936 8.42059C17.3841 8.03007 17.3841 7.3969 16.9936 7.00638C16.603 6.61585 15.9699 6.61585 15.5794 7.00638L11.9942 10.5915L8.40907 7.00636C8.01855 6.61584 7.38538 6.61584 6.99486 7.00636Z"
            fill="#309799"></path>
        </g>
      </svg>
    </div>
    <app-form></app-form>
  </div>
</ng-template>

