<section class="financing-form">
  <div class="container">
    <div class="financing-request-wrap">
      <h3 class="financing-request-title">Онлайн заявка на кредит наличными</h3>
      <div class="financing-request-steps">
        <div class="financing-request-step-one">Шаг 1</div>
        <div class="financing-request-step-one-info">Персональные данные</div>
      </div>
      <div class="financing-request-condition">
        <h3>Условия</h3>
        <div class="criteria-tool">
          <input type="tel" value="1000 TJS" inputmode="numeric">
          <div class="slider-container">
            <span class="bar"><span class="fill"></span></span>
            <input class="slider" type="range" min="0" max="3000000" value="0">
          </div>
        </div>
      </div>
      <div class="financing-request-period">
        <h3>Срок кредита</h3>
        <div class="financing-request-period-buttons">
          <div class="financing-period-button-wrap">
            <div class="financing-period-button" *ngFor="let period of periodButton; let i = index"
                 (click)="buttonClick(i)"
                 [ngClass]="buttonIndex === i ? 'active' : ''">{{period}}</div>
          </div>
        </div>
        <div class="financing-request-period-hint">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M7.75 2.5C7.75 2.08579 7.41421 1.75 7 1.75C6.58579 1.75 6.25 2.08579 6.25 2.5V4.07926C4.81067 4.19451 3.86577 4.47737 3.17157 5.17157C2.47737 5.86577 2.19451 6.81067 2.07926 8.25H21.9207C21.8055 6.81067 21.5226 5.86577 20.8284 5.17157C20.1342 4.47737 19.1893 4.19451 17.75 4.07926V2.5C17.75 2.08579 17.4142 1.75 17 1.75C16.5858 1.75 16.25 2.08579 16.25 2.5V4.0129C15.5847 4 14.839 4 14 4H10C9.16097 4 8.41527 4 7.75 4.0129V2.5Z"
                fill="#66788f"></path>
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M2 12C2 11.161 2 10.4153 2.0129 9.75H21.9871C22 10.4153 22 11.161 22 12V14C22 17.7712 22 19.6569 20.8284 20.8284C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.8284C2 19.6569 2 17.7712 2 14V12ZM17 14C17.5523 14 18 13.5523 18 13C18 12.4477 17.5523 12 17 12C16.4477 12 16 12.4477 16 13C16 13.5523 16.4477 14 17 14ZM17 18C17.5523 18 18 17.5523 18 17C18 16.4477 17.5523 16 17 16C16.4477 16 16 16.4477 16 17C16 17.5523 16.4477 18 17 18ZM13 13C13 13.5523 12.5523 14 12 14C11.4477 14 11 13.5523 11 13C11 12.4477 11.4477 12 12 12C12.5523 12 13 12.4477 13 13ZM13 17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17C11 16.4477 11.4477 16 12 16C12.5523 16 13 16.4477 13 17ZM7 14C7.55228 14 8 13.5523 8 13C8 12.4477 7.55228 12 7 12C6.44772 12 6 12.4477 6 13C6 13.5523 6.44772 14 7 14ZM7 18C7.55228 18 8 17.5523 8 17C8 16.4477 7.55228 16 7 16C6.44772 16 6 16.4477 6 17C6 17.5523 6.44772 18 7 18Z"
                    fill="#66788f"></path>
            </g>
          </svg>
          Возможно досрочное погашение без комиссии
        </div>
      </div>
      <div class="financing-request-bank-obligation">
        <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M3.37752 5.08241C3 5.62028 3 7.21907 3 10.4167V11.9914C3 17.6294 7.23896 20.3655 9.89856 21.5273C10.62 21.8424 10.9807 22 12 22C13.0193 22 13.38 21.8424 14.1014 21.5273C16.761 20.3655 21 17.6294 21 11.9914V10.4167C21 7.21907 21 5.62028 20.6225 5.08241C20.245 4.54454 18.7417 4.02996 15.7351 3.00079L15.1623 2.80472C13.595 2.26824 12.8114 2 12 2C11.1886 2 10.405 2.26824 8.83772 2.80472L8.26491 3.00079C5.25832 4.02996 3.75503 4.54454 3.37752 5.08241ZM15.0595 10.4995C15.3353 10.1905 15.3085 9.71642 14.9995 9.44055C14.6905 9.16467 14.2164 9.19151 13.9405 9.50049L10.9286 12.8739L10.0595 11.9005C9.78358 11.5915 9.30947 11.5647 9.00049 11.8405C8.69151 12.1164 8.66467 12.5905 8.94055 12.8995L10.3691 14.4995C10.5114 14.6589 10.7149 14.75 10.9286 14.75C11.1422 14.75 11.3457 14.6589 11.488 14.4995L15.0595 10.4995Z" fill="#309799"></path>
          </g>
        </svg>
        <span>
          Заполнение анкеты не обязывает вас брать кредит наличными. <br>
          Гарантируем: ваши данные останутся в безопасности.
        </span>
      </div>
      <div class="financing-request-form">
        <h3>Персональные данные</h3>
        <form>
          <div class="form-row">
            <mat-form-field class="example-form-field">
              <mat-label>Фамилия</mat-label>
              <input matInput type="text">
              <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="example-form-field">
              <mat-label>Имя</mat-label>
              <input matInput type="text">
              <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="example-form-field">
              <mat-label>Отчество</mat-label>
              <input matInput type="text">
              <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="example-form-field">
              <mat-label>Мобильный телефон</mat-label>
              <input matInput type="tell">
              <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="example-form-field">
              <mat-label>E-mail</mat-label>
              <input matInput type="text">
              <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field>
              <mat-label>Дата рождения</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="financing-request-agreement">
        <input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
        <label for="fruit1">Даю согласие на <a href="#1">отправку запроса в БКИ (для клиентов банка)</a> и <a href="#2">обработку персональных данных</a>, с тарифами и условиями
          <span class="label-break">кредитования,
            <a href="#3">политикой обработки персональных данных</a> ознакомлен и согласен</span>
        </label>
      </div>
      <div class="financing-action">
        <button class="button">Отправить</button>
      </div>
    </div>
  </div>
</section>
