@import "global";
@import "variables";
@import "fonts";

ul{
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

button{
  margin: 0;
}

