<app-personal-header></app-personal-header>
<banner-product [bannerData]="banner"></banner-product>
<section class="app-features">
  <div class="container">
    <div class="app-features-item">
      <img src="./assets/images/pages/tawhid%20pay/af3.png" alt="First place icon">
      <span>1-ый кошелёк Исламского банка</span>
    </div>
    <div class="app-features-item">
      <img src="./assets/images/pages/tawhid%20pay/af2.png" alt="Hand & People icon">
      <span>+300 услуг и операции</span>
    </div>
    <div class="app-features-item">
      <img src="./assets/images/pages/tawhid%20pay/af1.png" alt="People icon">
      <span>более +40 000 пользователей</span>
    </div>
  </div>
</section>
<section class="shops">
  <div class="container">
    <div class="shops-wrap">
      <div class="shops-info">
        <div class="shops-info-title">Доступно в магазинах приложений</div>
        <div class="shops-info-subtitle">Для всех устройств</div>
        <div class="shops-info-description">Так же Вы можете скачать мобильное приложение банка <br> в других сторах
        </div>
        <div class="shops-info-actions">
          <div class="app-stores">
            <a href="https://apps.apple.com/ru/app/tawhid-pay/id1546481237">
              <img src="./assets/images/pages/tawhid%20pay/apps.png" alt="App Store">
            </a>
            <a href="https://play.google.com/store/apps/details?id=tj.itservice.tawhidbank&hl=ru">
              <img src="./assets/images/pages/tawhid%20pay/ggp.png" alt="Google Play">
            </a>
          </div>
        </div>
      </div>
      <div class="shops-images">
        <img src="./assets/images/pages/tawhid%20pay/double-mobiles.png" alt="Mobiles">
      </div>
    </div>
  </div>
</section>
<section class="opportunities">
  <div class="container">
    <h2>Возможности</h2>
    <div class="opportunities-wrap">
      <div class="opportunities-item">
        <div class="opportunities-item-title">Платежи без комиссии</div>
        <div class="opportunities-item-description">ЖКХ, Связь, Интернет, Госуслуги и многое другое</div>
        <img src="./assets/images/pages/tawhid%20pay/em1.png" alt="Mobile & App">
      </div>
      <div class="opportunities-item">
        <div class="opportunities-item-title">Экономьте свое время</div>
        <div class="opportunities-item-description">Автоплатежи, платежи по QR и фото квитанции, получение счетов онлайн
        </div>
        <img src="./assets/images/pages/tawhid%20pay/em2.png" alt="Mobile & App">
      </div>
      <div class="opportunities-item">
        <div class="opportunities-item-title">Мгновенные переводы за рубеж</div>
        <div class="opportunities-item-description">Круглосуточно в страны СНГ и не только с возможностью выдачи
          наличных
          или зачислением на карту
        </div>
        <img src="./assets/images/pages/tawhid%20pay/em3.png" alt="Mobile & App">
      </div>
    </div>
  </div>
</section>
<section class="download">
  <div class="container">
    <h2>Скачать приложение</h2>
    <div class="download-wrap">
      <a href="https://play.google.com/store/apps/details?id=tj.itservice.tawhidbank&hl=ru">
        <img src="./assets/images/pages/tawhid%20pay/gp.png" alt="Google Play">
      </a>
      <a href="https://apps.apple.com/ru/app/tawhid-pay/id1546481237">
        <img src="./assets/images/pages/tawhid%20pay/ap.png" alt="App Store">
      </a>
    </div>
  </div>
</section>
<section class="install">
  <div class="container">
    <h2>Установка на Android</h2>
    <div class="install-wrap">
      <div class="install-wrap-info">
        <div class="install-wrap-title">4 шага</div>
        <span>Скачайте приложение на официальном сайте  - tawhidbank.tj </span>
        <span>При установке появится сообщение о ненадёжном источнике — это стандартное предупреждение.</span>
        <span>Нажмите <strong>Всё равно скачать</strong> , а потом — <strong>Разрешить установку</strong></span>
        <span>Поздравляем! Все готово. <br> Приложением можно пользоваться.</span>
        <span>*На андроид для пользователей без подписки Google сервиса</span>

      </div>
      <div class="install-wrap-image">
        <img src="./assets/images/pages/tawhid%20pay/mobile-stage.png" alt="Mobile on Stage">
      </div>
    </div>
  </div>
</section>
<section class="faq">
  <div class="container">
    <h2>Популярные вопросы</h2>
    <div class="faq-wrap">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Андроид говорит, что файл может быть опасным. Что это означает?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Мой браузер блокирует установку из неизвестного источника. Это нормально?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Не получается установить приложение.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</section>
