<section class="request-form">
  <div class="container">
    <div class="request-form-wrap">
      <div class="request-form-wrap-info">
        <h2>Консультация по <br> продукту</h2>
        <div class="request-form-wrap-info-description">
          Заполните форму, чтобы мы могли с вами <br>
          связаться и всё подробно рассказать
        </div>
      </div>
      <form class="request-form-wrap-form">
        <div class="request-form-wrap-form-row">
          <div class="input-name">Имя и фамилия</div>
          <input type="text">
        </div>
        <div class="request-form-wrap-form-row">
          <div class="input-name">Номер телефона</div>
          <input type="text">
        </div>
        <div class="request-form-wrap-form-row">
          <div class="input-name">E-mail</div>
          <input type="text">
        </div>
        <div class="request-form-wrap-form-row extra">
          <div>
            <div class="input-name">Компания</div>
            <input type="text">
          </div>
          <div>
            <div class="input-name">Город</div>
            <input type="text">
          </div>
        </div>
        <div class="request-form-wrap-form-row extra">
          <button class="button">Отправить</button>
          <div class="policy">
            Нажимая кнопку <b>«Отправить»</b>, я соглашаюсь с условиями обработки моих данных.
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
