<app-about-header></app-about-header>
<section class="banner">
  <div class="container">
    <div class="banner-wrap">
      <div class="banner-info">
        <div class="banner-title">Больше, чем новая работа</div>
        <div class="banner-subtitle">Новые возможности</div>
      </div>
      <div class="banner-image">
        <img src="./assets/images/pages/job/banner.png" alt="Bee">
      </div>
    </div>
  </div>
</section>
<section class="features-job">
  <div class="container">
    <div class="features-job-wrap">
      <div class="features-job-card">
        <div class="features-job-card-info">
          <div class="features-job-card-image">
            <img src="./assets/images/pages/job/cj1.png" alt="Map">
          </div>
          <div class="features-job-card-title">Республиканский банк</div>
          <div class="features-job-card-description">Работайте в своем городе</div>
        </div>
      </div>
      <div class="features-job-card">
        <div class="features-job-card-info">
          <div class="features-job-card-image">
            <img src="./assets/images/pages/job/cj2.png" alt="Graphic">
          </div>
          <div class="features-job-card-title">Быстрый рост</div>
          <div class="features-job-card-description">Мы открываем всё больше отделении по РТ.</div>
        </div>
      </div>
      <div class="features-job-card">
        <div class="features-job-card-info">
          <div class="features-job-card-image">
            <img src="./assets/images/pages/job/cj3.png" alt="Pick">
          </div>
          <div class="features-job-card-title">Широкие возможности</div>
          <div class="features-job-card-description">Мы ориентированы на быстрый рост сотрудников.</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="more">
  <div class="container">
    <div class="more-wrap">
      <h2>Больше, чем банк</h2>
      <span
        class="who">Вы хотите реализовать свои возможности? <br> <strong>Присоединяйтесь к нашей команде!</strong> <br>
        Мы ищем творческих и амбициозных профессионалов, которые смогут просто решать сложные задачи и уважать каждого клиента.</span>
    </div>
  </div>
</section>
<section class="search" id="search">
  <div class="container">
    <h2>Поиск вакансий</h2>
    <div class="search-subtitle">Найдите работу своей мечты</div>
    <div class="search-params-wrap">
      <div class="search-results">
        <div class="search-results-row" *ngFor="let job of jobs">
          <div class="search-results-row-duty">{{job.duty}}</div>
          <div class="search-results-row-salary">{{job.salary}}</div>
          <div class="search-results-row-city">{{job.city}}</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact">
  <div class="container">
    <h2>Обратная связь</h2>
    <form class="contact-wrap" [formGroup]="candidateForm" autocomplete="off">
      <div class="contact-wrap-row">
        <mat-form-field class="example-form-field">
          <mat-label>Фамилия, имя и отчество</mat-label>
          <input matInput type="text" formControlName="fullname">
          <mat-hint style="color: #f44336" *ngIf="candidateForm.get('fullname')?.touched && candidateForm.get('fullname')?.errors?.['required']">
            Заполните ФИО
          </mat-hint>
          <mat-hint style="color: #f44336" *ngIf="candidateForm.get('fullname')?.touched && candidateForm.get('fullname')?.errors?.['pattern']">
            Напишите ваше имя и фамиля с заглавной буквой
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="contact-wrap-row">
        <mat-form-field class="example-form-field">
          <mat-label>Мобильный телефон</mat-label>
          <input matInput type="tell" formControlName="mobileNumber">
          <mat-hint style="color: #f44336" *ngIf="candidateForm.get('mobileNumber')?.touched && candidateForm.get('mobileNumber')?.errors?.['required']">
            Заполните поле для номера телефона
          </mat-hint>
          <mat-hint style="color: #f44336" *ngIf="candidateForm.get('mobileNumber')?.touched && candidateForm.get('mobileNumber')?.errors?.['pattern']">
            Напишите ваш номер в правильном формате (+992 999 99 99)
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="example-form-field" >
          <mat-label>E-mail</mat-label>
          <input matInput type="text" formControlName="email">
          <mat-hint style="color: #f44336" *ngIf="candidateForm.get('email')?.touched && candidateForm.get('email')?.errors?.['required']">
            Заполните поле для e-mail
          </mat-hint>
          <mat-hint style="color: #f44336" *ngIf="candidateForm.get('email')?.touched && candidateForm.get('email')?.errors?.['pattern']">
            Напишите ваш e-mail в правильном формате (name@mail.org)
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="contact-wrap-row">
        <mat-form-field>
          <mat-label>Напишите коротко о себе</mat-label>
          <textarea matInput formControlName="text"></textarea>
          <mat-hint style="color: #f44336" *ngIf="candidateForm.get('text')?.touched && candidateForm.get('text')?.errors?.['required']">
            Это поле обязательно надо заполнить
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="contact-wrap-row file">
        <app-file-getter (fileSelected)="onFileSelected($event)"></app-file-getter>
      </div>
      <div class="contact-wrap-row">
        <div class="financing-request-agreement-checkbox">
          <input class="custom-checkbox" type="checkbox" id="myCheckbox" formControlName="agree">
          <label for="myCheckbox">
            Даю согласия на переработку своих персональных данных. (Обязательно!)
          </label>
        </div>
      </div>
      <div class="contact-wrap-row">
        <button class="button" (click)="sendCandidateData()">Отправить</button>
      </div>
    </form>
  </div>
</section>
<ng-template #job>
  <div class="job-popup">
    <div class="popup-close" (click)="closePopup()">
      <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M6.99486 7.00636C6.60433 7.39689 6.60433 8.03005 6.99486 8.42058L10.58 12.0057L6.99486 15.5909C6.60433 15.9814 6.60433 16.6146 6.99486 17.0051C7.38538 17.3956 8.01855 17.3956 8.40907 17.0051L11.9942 13.4199L15.5794 17.0051C15.9699 17.3956 16.6031 17.3956 16.9936 17.0051C17.3841 16.6146 17.3841 15.9814 16.9936 15.5909L13.4084 12.0057L16.9936 8.42059C17.3841 8.03007 17.3841 7.3969 16.9936 7.00638C16.603 6.61585 15.9699 6.61585 15.5794 7.00638L11.9942 10.5915L8.40907 7.00636C8.01855 6.61584 7.38538 6.61584 6.99486 7.00636Z"
            fill="#309799"></path>
        </g>
      </svg>
    </div>
    <div class="confirm-request">
      Ташаккур! Дархост ирсол карда шуд.
    </div>
  </div>
</ng-template>


