<nav class="location-menu">
  <ul>
    <li><a routerLink="/about/location" routerLinkActive="active-tab">Офисы</a></li>
    <li><a routerLink="/about/atms" routerLinkActive="active-tab">Банкоматы</a></li>
    <li><a routerLink="/about/terminals" routerLinkActive="active-tab">Терминалы</a></li>
    <li><a routerLink="/about/graphic" routerLinkActive="active-tab">График приёма граждан</a></li>
    <li><a routerLink="/about/requisites" routerLinkActive="active-tab">Реквизиты</a></li>
  </ul>
</nav>
