<section class="about-header">
  <app-about-header></app-about-header>
</section>
<section class="banner">
  <div class="container">
    <div class="banner-info">
      <h1>Тавхидбанк</h1>
      <div class="banner-info-description">Первый и единственный <br> исламский банк страны.</div>
    </div>
  </div>
</section>
<section class="amount">
  <div class="container">
    <h2>О нас в цифрах</h2>
    <div class="amount-card-wrap">
      <div class="amount-card">
        <div class="amount-card-description">активных клиентов в Таджикистане</div>
        <div class="amount-card-number">300 000+</div>
        <div class="amount-card-number-sub">человек</div>
      </div>
      <div class="amount-card">
        <div class="amount-card-description">корпоративных клиентов</div>
        <div class="amount-card-number">200+</div>
        <div class="amount-card-number-sub">компании</div>
      </div>
      <div class="amount-card">
        <div class="amount-card-description">корпоративных клиентов</div>
        <div class="amount-card-number">300+</div>
        <div class="amount-card-number-sub">человек</div>
      </div>
    </div>
  </div>
</section>
<section class="history">
  <div class="container">
    <div class="history-photo">
      <img src="/assets/images/pages/about/history.png" alt="Photo">
    </div>
    <div class="history-text">
      <strong>Б</strong>
      <div>анк был образован 24 августа 1999 года, как Акционерный Коммерческий банк по содействию и поддержке
        предпринимательства, и 22 мая 2002 года был реорганизован в ОАО «Сохибкорбанк».
      </div>
      <br>
      <div style="text-indent: 40px"> Банк с момента своего образования
        является активным, надежным и стабильным участником рынка финансовых услуг страны. На сегодняшний день Банк
        достиг
        значительных положительных показателей в своей деятельности, имеет 5 филиалов и 58 Центров банковского
        обслуживания по всей стране
      </div>
      <br>
      <div style="text-indent: 40px">
        Согласно действующей структуре в банке работают более 340 специалистов. 1 июля 2019
        года банк был переименован на «Тавхидбанк» и с момента получения лицензии НБТ <u> №0000104</u> от 17 сентября
        2019, ведёт
        свою деятельность как полноценный первый Исламский Банк в Таджикистане.
      </div>
    </div>
  </div>
</section>
<section class="values">
  <div class="container">
    <div class="values-wrap">
      <div class="values-card">
        <div class="values-card-info">
          <div class="values-card-title">Миссия банка</div>
          <div class="values-card-subtitle">
            Отказ от концепции ссудного процента и реализация справедливого и
            беспроцентного банкинга во благо народа нашей страны и за её пределами. Ведение своей деятельности,
            соответствующей принципам Шариата и недопущение операций противоречащие исламским принципам.
          </div>
        </div>
        <div class="values-card-image first">
        </div>
      </div>
      <div class="values-card">
        <div class="values-card-info">
          <div class="values-card-title">Наше видение</div>
          <div class="values-card-subtitle">
            Стать лидером в области исламского банкинга, поддерживая устойчивый рост развития и всегда быть самым
            предпочтительным поставщиком исламских финансовых услуг как на национальном, так и на реги¬ональном уровнях.
          </div>
        </div>
        <div class="values-card-image second">
        </div>
      </div>
      <div class="values-card">
        <div class="values-card-info">
          <div class="values-card-title">Наши вакансии</div>
          <div class="values-card-subtitle">Ждем Вас в числе наших сотрудников</div>
          <a href="#">Присоединиться</a>
        </div>
        <div class="values-card-image third">
        </div>
      </div>
      <div class="values-card s">
        <div class="values-card-info">
          <div class="values-card-title">Документы</div>
          <div class="values-card-subtitle">Устав, лицензии и прочее</div>
          <a href="#">Посмотреть</a>
        </div>
        <div class="values-card-image fourth">
        </div>
      </div>
      <div class="values-card s">
        <div class="values-card-info">
          <div class="values-card-title">Наши отделения и банкоматы</div>
          <a href="#">Посмотреть</a>
        </div>
        <div class="values-card-image fifth">
        </div>
      </div>
      <div class="values-card s">
        <div class="values-card-info">
          <div class="values-card-title">Контакты</div>
          <div class="values-card-subtitle">
            Круглосуточная <a href="#">связь</a> с банком
          </div>
        </div>
        <div class="values-card-image sixth">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="products">
  <div class="container">
    <h2>Наши продукты</h2>
    <div class="product-wrap">
      <a routerLink="/personal/financing" class="product-card">
        <div class="arrow">
          <svg width="30px" height="30px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg"
               stroke="#ffffff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M3 12C3 4.5885 4.5885 3 12 3C19.4115 3 21 4.5885 21 12C21 19.4115 19.4115 21 12 21C4.5885 21 3 19.4115 3 12Z"
                stroke="#309799" stroke-width="1.6320000000000001"></path>
              <path d="M14.5 9.5L9 15" stroke="#309799" stroke-width="1.6320000000000001" stroke-linecap="round"
                    stroke-linejoin="round"></path>
              <path d="M10 9H14.6717C14.853 9 15 9.14703 15 9.32837V14" stroke="#309799"
                    stroke-width="1.6320000000000001" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
        </div>
        <div class="product-card-title">Финансирование</div>
        <img src="/assets/images/pages/about/p1.png" alt="Graph">
      </a>
      <a routerLink="/personal/financing" class="product-card">
        <div class="arrow">
          <svg width="30px" height="30px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg"
               stroke="#ffffff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M3 12C3 4.5885 4.5885 3 12 3C19.4115 3 21 4.5885 21 12C21 19.4115 19.4115 21 12 21C4.5885 21 3 19.4115 3 12Z"
                stroke="#309799" stroke-width="1.6320000000000001"></path>
              <path d="M14.5 9.5L9 15" stroke="#309799" stroke-width="1.6320000000000001" stroke-linecap="round"
                    stroke-linejoin="round"></path>
              <path d="M10 9H14.6717C14.853 9 15 9.14703 15 9.32837V14" stroke="#309799"
                    stroke-width="1.6320000000000001" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
        </div>
        <div class="product-card-title">Карты</div>
        <img src="/assets/images/pages/about/p2.png" alt="Wallet" class="si">
      </a>
      <a routerLink="/personal/deposit" class="product-card">
        <div class="arrow">
          <svg width="30px" height="30px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg"
               stroke="#ffffff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M3 12C3 4.5885 4.5885 3 12 3C19.4115 3 21 4.5885 21 12C21 19.4115 19.4115 21 12 21C4.5885 21 3 19.4115 3 12Z"
                stroke="#309799" stroke-width="1.6320000000000001"></path>
              <path d="M14.5 9.5L9 15" stroke="#309799" stroke-width="1.6320000000000001" stroke-linecap="round"
                    stroke-linejoin="round"></path>
              <path d="M10 9H14.6717C14.853 9 15 9.14703 15 9.32837V14" stroke="#309799"
                    stroke-width="1.6320000000000001" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
        </div>
        <div class="product-card-title">Вклады</div>
        <img src="/assets/images/pages/about/p3.png" alt="Money">
      </a>
    </div>
  </div>
</section>
<app-faq></app-faq>
