<app-personal-header></app-personal-header>
<section class="auto-banner">
  <div class="container">
    <div class="auto-banner-wrap">
      <div class="auto-banner-info">
        <h1>Ускорь свою жизнь с новым авто!</h1>
        <div class="auto-banner-info-description">Машина почти у вас, осталось купить её с выгодой.
          Оплачивать можете до 3 года
        </div>
        <div class="auto-banner-info-action">
          <button class="button-yellow-rounded">Оставить заявку</button>
        </div>
      </div>
      <div class="auto-banner-image">
        <img src="/assets/images/pages/auto/banner1.png" alt="Car">
      </div>
    </div>
  </div>
</section>

<section class="purchase">
  <div class="container">
    <h2>Как оформить покупку:</h2>
    <div class="purchase-steps">
      <div class="purchase-step">
        <img src="/assets/images/pages/auto/p1.png" alt="Car">
        <span class="purchase-step-text">Выберите авто на автосалоне, предложите сами</span>
      </div>
      <div class="purchase-step">
        <img src="/assets/images/pages/auto/p2.png" alt="">
        <span class="purchase-step-text">Отправьте заявку с помощью нашей формы</span>
      </div>
      <div class="purchase-step">
        <img src="/assets/images/pages/auto/p3.png" alt="">
        <span class="purchase-step-text">Кредитный комитет рассмотрит вашу заявку</span>
      </div>
      <div class="purchase-step">
        <img src="/assets/images/pages/auto/p4.png" alt="" class="thin-image">
        <span class="purchase-step-text">Мы поможем оценить машину</span>
      </div>
      <div class="purchase-step">
        <img src="/assets/images/pages/auto/p5.png" alt="">
        <span class="purchase-step-text">Оформите покупку после решения кредитного комитета</span>
      </div>
      <div class="purchase-step">
        <img src="/assets/images/pages/auto/p6.png" alt="">
        <span class="purchase-step-text">Кредитный комитет рассмотрит вашу заявку</span>
      </div>
    </div>
  </div>
</section>

<section class="auto-calculator">
  <div class="container">
    <div class="auto-calculator-wrap">
      <h2>Калькулятор финансирования на покупку авто</h2>
      <div class="auto-calculator-row">
        <div class="auto-calculator-row-left">
          <div class="auto-calculator-row-left-action">
            <button class="button-currency active">Сомони</button>
            <button class="button-currency">Доллар США</button>
          </div>
          <div class="mortgage-calculator-criteria">
            <div class="mortgage-calculator-criteria-title">Стоимость авто</div>
            <div class="criteria-tool">
              <input type="tel" value="6400000 TJS" inputmode="numeric">
              <div class="slider-container">
                <span class="bar"><span class="fill"></span></span>
                <input class="slider" type="range" min="0" max="100" value="0">
              </div>
            </div>
          </div>
          <div class="mortgage-calculator-criteria">
            <div class="mortgage-calculator-criteria-title">Первоначальный взнос</div>
            <div class="criteria-tool">
              <input type="tel" value="6400000 TJS" inputmode="numeric">
              <div class="slider-container">
                <span class="bar"><span class="fill"></span></span>
                <input class="slider" type="range" min="0" max="100" value="0">
              </div>
            </div>
          </div>
          <div class="auto-calculator-row-left-years">
            <button class="years active">1 год</button>
            <button class="years">2 год</button>
            <button class="years">3 год</button>
          </div>
        </div>
        <div class="auto-calculator-row-right">
          <div class="auto-calculator-row-right-image">
            <img src="/assets/images/pages/auto/c3.png" alt="Car">
          </div>
          <div class="auto-calculator-row-right-summary">
            <div class="auto-calculator-row-right-summary-header">
              <span class="auto-calculator-row-right-summary-title">Сумма ежемесячного платежа</span>
              <div class="auto-calculator-row-right-summary-amount">81 190 TJS</div>
            </div>
            <div class="auto-calculator-row-right-summary-rate-wrap">
              <div>
                <div class="auto-calculator-row-right-summary-rate">Ставка</div>
                <div class="auto-calculator-row-right-summary-rate-percent">14%</div>
              </div>
              <div>
                <div class="auto-calculator-row-right-summary-rate">Сумма финансирования</div>
                <div class="auto-calculator-row-right-summary-rate-percent">900 000TJS</div>
              </div>
            </div>
            <button class="button">Оставить заявку</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="auto-request">
  <div class="container">
    <div class="auto-request-wrap">
      <div class="auto-request-info">
        <h2>Оставьте заявку</h2>
        <div class="auto-request-info-description">
          Напишите свой номер и мы обязательно
          с вами свяжемся
        </div>
      </div>
      <div class="auto-request-form">
        <div class="auto-request-form-row">
          <div class="auto-request-form-row-span">Введите имя и фамилию</div>
          <input type="text" placeholder="Введите данные">
        </div>
        <div class="auto-request-form-row">
          <div class="auto-request-form-row-span">Номер телефона</div>
          <input type="text" placeholder="Введите номер">
        </div>
        <div class="auto-request-form-row">
          <button class="button-white">Отправить</button>
          <span>Нажимая кнопку <a href="#">«Отправить»</a>, я <br> соглашаюсь на обработку моих <br> данных</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="documents">
  <div class="container">
    <div class="documents-requirements-wrap">
      <header class="documents-requirements">
        <div class="documents-requirements-info">
          <h2>Что необходимо предоставить?</h2>
          <span class="documents-requirements-info-description">В некоторых случаях Тавхидбанк имеет право потребовать дополнительный залог или поручителя.</span>
        </div>
        <div class="documents-requirements-image">
          <img src="/assets/images/pages/auto/d1.png" alt="Documents">
        </div>
      </header>
      <div class="documents-requirements-text">
        <span>Вам и поручителю понадобятся следующие документы:</span>
        <p>— Паспорт и ИНН, а также прописка в Душанбе, Худжанде, Бохтаре, Турсунзаде, Вахдате, Истаравшане или
          Пенджикенте;</p>
        <p>— Справка о заработной плате или выписка с банка за последние 6 месяцев. Частным предпринимателям необходимо
          предоставить
          патент или свидетельство с выпиской и квитанции об уплате налогов за последние 6 месяцев.</p>
        <p>Также необходимо будет внести предоплату, размер которой зависит от решения кредитного комитета. А
          приобретаемое авто
          будет оформлено как залог.</p>
      </div>
    </div>
  </div>
</section>

<section class="payment">
  <div class="container">
    <h2>Задолженность можно погасить</h2>
    <div class="payment-wrap">
      <div class="payment-card">
        <div class="payment-card-image" style="background-image: url('/assets/images/pages/auto/placeholder.png');"></div>
        <div class="payment-card-info">
          <div class="payment-card-info-title">В кассах Тавхидбанка</div>
          <div class="payment-card-info-description">Приходите в ближайший офис Тавхидбанк и обратитесь в кассу.</div>
        </div>
      </div>
      <div class="payment-card">
        <div class="payment-card-image" style="background-image: url('/assets/images/pages/auto/placeholder.png');"></div>
        <div class="payment-card-info">
          <div class="payment-card-info-title">В терминалах по всей стране</div>
          <div class="payment-card-info-description">В терминалах партнёров Тавхидбанка ОАО «Банк Эсхата», ООО МДО «Душанбе Сити», МДО «Тамвил»</div>
        </div>
      </div>
      <div class="payment-card">
        <div class="payment-card-image" style="background-image: url('/assets/images/pages/auto/placeholder.png');"></div>
        <div class="payment-card-info">
          <div class="payment-card-info-title">В приложении Tawhid Pay</div>
          <div class="payment-card-info-description">Выберите раздел «Тавхидбанк», «Погашение кредита» и оплатите.</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faq">
  <div class="container">
    <h2>Популярные вопросы</h2>
    <div class="faq-wrap">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Где можно оставить заявку на покупку авто?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Что делать, если нет возможности оплатить предоплату за автофинансирование?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Может ли юридическое лицо получить автофинансирование?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Как посмотреть дату погашения своего автофинансирования в долларах?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Можно ли оплачивать долларовое автофинансирование в сомони?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</section>
