<div class="branch-info-container">
  <div class="headquarters-address">
    <div class="headquarters-row">
      <div class="headquarters-row-heading">АДРЕС</div>
      <div class="headquarters-row-body">Адрес: 734025, г. Душанбе, ул. C.Айни 4/1</div>
    </div>
    <div class="headquarters-row">
      <div class="headquarters-row-heading">РЕЖИМ РАБОТЫ</div>
      <div class="headquarters-row-body">Пн — Пт: 8:00—21:00 (кассы: 9:00—17:00) <br>
        Сб — Вс: выходной
      </div>
    </div>
  </div>
  <div class="headquarters-contacts">
    <div class="headquarters-row">
      <div class="headquarters-row-heading">КОНТАКТЫ</div>
      <div class="headquarters-row-body number">91 11 | +922 (44) 601 70 70</div>
      <div class="headquarters-row-subtitle">tawhidbank@info.tj</div>
    </div>
    <div class="headquarters-row">
      <div class="headquarters-row-heading">УСЛУГИ</div>
      <div class="headquarters-row-body">
        Гирифтани корти “Сабз”, “Котри милли”, бастани шартномаи
        маблағгузорӣ, машаххаскунии Tawhid Pay, пуркунии / гирифтани
        маблағ аз ҳисоби “Корти миллӣ”, Tawhid Pay ва амонат, пардохти
        маблағгузорӣ, интиқоли маблағ, кушодани суратҳисоб ва амонат,
        хариду фурӯши асъор
      </div>
    </div>
  </div>

</div>
