<section class="how-to-open">
  <div class="container">
    <h2>Как открыть вклад</h2>
    <div class="how-to-open-wrap">
      <img src="assets/images/pages/deposit%20info/how-to-open.png" alt="List">
      <div>
        <ul>
          <li>На сайте Тавхидбанк можно отправить заявку <br>
            на открытие вклада {{productName}}.</li>
          <li>В отделении с паспортом</li>
        </ul>
        <a routerLink="" fragment="" class="button">Открыть вклад</a>
      </div>
    </div>
  </div>
</section>
