@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

.banner {
  padding-top: 60px;
  padding-bottom: 80px;

  .container {
    .banner-warp {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      background: rgba(48, 151, 153, 0.2);
      border-radius: 15px;
      padding: 40px 60px;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;

      &:before {
        content: '';
        position: absolute;
        background-color: #309799;
        width: 650px;
        height: 60px;
        z-index: -1;
        left: -20px;
        top: 100px;
        transform: skew(-20deg);
      }

      &:after {
        content: '';
        position: absolute;
        background-color: #faed21;
        width: 550px;
        height: 60px;
        z-index: 0;
        left: -20px;
        top: 160px;
        transform: skew(-20deg);
      }

      .banner-info {
        h1 {
          @include h1-mixin;
          margin-top: 70px;
        }

        .banner-subtitle {
          padding-top: 5px;
          position: relative;
          z-index: 2;
          font-size: 22px;
          color: rgb(68, 68, 68);
          font-weight: 500;
        }

        .button {
          display: grid;
          place-content: center;
          position: relative;
          z-index: 2;
          margin-top: 150px;
          font-size: 24px;
          font-family: "Montserrat", sans-serif;
          color: rgb(255, 255, 255);
          border-radius: 10px;
          background-color: rgb(48, 151, 153);
          box-sizing: border-box;
          padding: 20px 40px;
          width: 290px;
        }
      }

      .banner-image{
        height: 100%;
        min-width: 40%;
        &.card{
          height: 370px;
          display: grid;
          place-content: center;
          padding-right: 30px;
        }
      }
    }
  }
}
