<section class="banner">
  <div class="container">
    <div class="banner-warp" *ngFor="let data of bannerData">
      <div class="banner-info">
        <h1>{{data.title}}</h1>
        <div class="banner-subtitle">{{data.subtitle}}</div>
        <div class="app-banner-description">{{data.description}}</div>
        <a href="{{data.link}}" class="button">{{data.buttonText}}</a>
      </div>
      <div class="banner-image {{data.class}}">
        <img src="{{data.image}}" alt="Safe">
      </div>
    </div>
  </div>
</section>
