<div class="header-bottom-content">
  <div class="container">
    <div class="header-logo">
      <a routerLink="/about">
        <img src="./assets/images/header-logo-russ.png" alt="Logotype">
      </a>
    </div>
    <nav class="header-bottom-menu">
      <ul>
        <li>
          <a routerLink="/about/location" routerLinkActive="active-link">Адреса</a>
        </li>
        <li>
          <a routerLink="/about/documents" routerLinkActive="active-link">Документы</a>
        </li>
        <li>
          <a routerLink="/about/job" routerLinkActive="active-link">Вакансии</a>
        </li>
        <li>
          <a href="https://tawhidnews.twb.tj/" routerLinkActive="active-link">Новости</a>
        </li>
        <li>
          <a routerLink="/about/help" routerLinkActive="active-link">Помощь</a>
        </li>
      </ul>
    </nav>
    <div class="header-bottom-action">
      <a class="button" href="https://ib.tawhid.tj/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="29px" height="19px">
          <image  x="0px" y="0px" width="29px" height="19px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAATCAQAAADGkM70AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfnCRQKCSoSENRqAAABHUlEQVQ4y5WTP04CURjEf4OrkJhdE6ytaYyFnYfgBmpvxwHsvQJnsTfewt6oIRJdFoQ3FuyuILsLzKve9958M/P+aAHQ0kADjtkFmYd6YA4EAqHv/XATCEQAOgcCQ962ah5wxyk9wZJKB5j4XqNtTKNrTpkDtPIKZArbiAF3SYpZq6y3HRs3K6IZ6Sa148SYemkhlFGGisqVmb6XvY0qFAtvSjapE30uexfmKJusBOnopNaw862rIzeL0JSv2mMqtlYmrcn6o5QGGGFoK95UTfUhmsnGh//vVcCRE9MMoUBWGhbAGIj1yGTNX1Vm0S1jGuOe3/f4N6NwFTARt8QseKJPc9Q/POuCS1J5TLwjZR3TiBfOKg6T/DlR6+X1F7hUxSFHuWKTAAAAAElFTkSuQmCC" />
        </svg>
        Интернет-банк
      </a>
    </div>
  </div>
</div>
