<div class="additional-rate">
  <div class="additional-rate-title">
    <h2>Курс обмена</h2>
    <div class="sub-title">Обновлено 04.10.2023 в 10.08</div>
  </div>
  <mat-tab-group>
    <mat-tab label="Наличными">
      <div class="rate-label-wrap">
        <div class="rate-label">Банк покупает</div>
        <div class="rate-label">Банк продает</div>
      </div>
      <div class="rate-rows-wrap">
        <div class="rate-row">
          <div class="rate-initials">
            <div class="currency-flag">
              <img src="./assets/images/pages/main/rub.png" alt="Ruble">
            </div>
            <div class="currency-name">RUB</div>
          </div>
          <div class="rate-values">
            <div class="rate">199</div>
            <div class="rate">99</div>
          </div>
        </div>
        <div class="rate-row">
          <div class="rate-initials">
            <div class="currency-flag">
              <img src="./assets/images/pages/main/usd.png" alt="USD">
            </div>
            <div class="currency-name">USD</div>
          </div>
          <div class="rate-values">
            <div class="rate">1099</div>
            <div class="rate">1099</div>
          </div>
        </div>
        <div class="rate-row">
          <div class="rate-initials">
            <div class="currency-flag">
              <img src="./assets/images/pages/main/eur.png" alt="Euro">
            </div>
            <div class="currency-name">EUR</div>
          </div>
          <div class="rate-values">
            <div class="rate">1199</div>
            <div class="rate">1199</div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="В интернет банке ">
      <div class="rate-label-wrap">
        <div class="rate-label">Банк покупает</div>
        <div class="rate-label">Банк продает</div>
      </div>
      <div class="rate-rows-wrap">
        <div class="rate-row">
          <div class="rate-initials">
            <div class="currency-flag">
              <img src="./assets/images/pages/main/rub.png" alt="Ruble">
            </div>
            <div class="currency-name">RUB</div>
          </div>
          <div class="rate-values">
            <div class="rate">199</div>
            <div class="rate">99</div>
          </div>
        </div>
        <div class="rate-row">
          <div class="rate-initials">
            <div class="currency-flag">
              <img src="./assets/images/pages/main/usd.png" alt="USD">
            </div>
            <div class="currency-name">USD</div>
          </div>
          <div class="rate-values">
            <div class="rate">1099</div>
            <div class="rate">1099</div>
          </div>
        </div>
        <div class="rate-row">
          <div class="rate-initials">
            <div class="currency-flag">
              <img src="./assets/images/pages/main/eur.png" alt="Euro">
            </div>
            <div class="currency-name">EUR</div>
          </div>
          <div class="rate-values">
            <div class="rate">1199</div>
            <div class="rate">1199</div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="НБТ">
      <div class="rate-label-wrap">
        <div class="rate-label">Банк покупает</div>
        <div class="rate-label">Банк продает</div>
      </div>
      <div class="rate-rows-wrap">
        <div class="rate-row">
          <div class="rate-initials">
            <div class="currency-flag">
              <img src="./assets/images/pages/main/rub.png" alt="Ruble">
            </div>
            <div class="currency-name">RUB</div>
          </div>
          <div class="rate-values">
            <div class="rate">199</div>
            <div class="rate">99</div>
          </div>
        </div>
        <div class="rate-row">
          <div class="rate-initials">
            <div class="currency-flag">
              <img src="./assets/images/pages/main/usd.png" alt="USD">
            </div>
            <div class="currency-name">USD</div>
          </div>
          <div class="rate-values">
            <div class="rate">1099</div>
            <div class="rate">1099</div>
          </div>
        </div>
        <div class="rate-row">
          <div class="rate-initials">
            <div class="currency-flag">
              <img src="./assets/images/pages/main/eur.png" alt="Euro">
            </div>
            <div class="currency-name">EUR</div>
          </div>
          <div class="rate-values">
            <div class="rate">1199</div>
            <div class="rate">1199</div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Безналичными">
      <div class="rate-label-wrap">
        <div class="rate-label">Банк покупает</div>
        <div class="rate-label">Банк продает</div>
      </div>
      <div class="rate-rows-wrap">
        <div class="rate-row">
          <div class="rate-initials">
            <div class="currency-flag">
              <img src="./assets/images/pages/main/rub.png" alt="Ruble">
            </div>
            <div class="currency-name">RUB</div>
          </div>
          <div class="rate-values">
            <div class="rate">199</div>
            <div class="rate">99</div>
          </div>
        </div>
        <div class="rate-row">
          <div class="rate-initials">
            <div class="currency-flag">
              <img src="./assets/images/pages/main/usd.png" alt="USD">
            </div>
            <div class="currency-name">USD</div>
          </div>
          <div class="rate-values">
            <div class="rate">1099</div>
            <div class="rate">1099</div>
          </div>
        </div>
        <div class="rate-row">
          <div class="rate-initials">
            <div class="currency-flag">
              <img src="./assets/images/pages/main/eur.png" alt="Euro">
            </div>
            <div class="currency-name">EUR</div>
          </div>
          <div class="rate-values">
            <div class="rate">1199</div>
            <div class="rate">1199</div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
