<section class="form">
  <div class="container">
    <h2>Оформить заявку на вклад</h2>
    <form>
      <input type="text" class="form-input" placeholder="Мобильный телефон">
      <input type="text" class="form-input" placeholder="E-mail">
      <input type="text" class="form-input" placeholder="ФИО">
      <input type="text" class="form-input" placeholder="Город">
      <button class="button">Оформить</button>
      <span>Нажимая «Получить», вы соглашаетесь на <a>обработку персональных данных,</a>
        с <a>Условиями дистанционного обслуживания</a>
        и <a>Тарифами на совершение переводов</a>
      </span>
    </form>
  </div>
</section>
