<section class="card-management">
  <div class="container">
    <h2>Удобное использование</h2>
    <div class="card-management-wrap">
      <div class="card-management-wrap-info">
        <div class="card-management-wrap-info-title">Управляй картой в приложении</div>
        <div class="card-management-wrap-info-subtitle">
          Следите за расходами, оплачивайте услуги и переводите
          деньги в пару кликов
        </div>
        <div class="card-management-wrap-info-action">
          <a href="https://play.google.com/store/apps/details?id=tj.itservice.tawhidbank&hl=ru" target="_blank">
            <img src="/assets/images/pages/cards%20info/ggp.png" alt="Google Play">
          </a>
          <a href="https://apps.apple.com/ru/app/tawhid-pay/id1546481237" target="_blank">
            <img src="/assets/images/pages/cards%20info/apps.png" alt="App Store">
          </a>
        </div>
      </div>
      <div class="card-management-wrap-image">
        <img src="/assets/images/pages/cards%20info/cm.png" alt="Mobile">
      </div>
    </div>
  </div>
</section>
